 Videos live 4 --- 51 minutes


## Target Guided Ordinal Encoding

1) Ordering the labels according to the target
2) Replace the labels by the joint probablity of 1 or 0.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('titanic.csv', usecols=['Cabin', 'Survived'])

In [4]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [5]:
df['Cabin'].fillna('Missing', inplace=True)

In [6]:
df.head(10)

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing
5         0  Missing
6         0      E46
7         0  Missing
8         1  Missing
9         1  Missing

In [7]:
# As c12 or c13 then it all belong to c class, so we take only first letter

df.Cabin= df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [8]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [9]:
# Now we groupby cabin based on survived columns

df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [10]:
# As it's target guided


df.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [11]:
ordinal_labels= df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [12]:
# Give the order as per their imporatnce that was find by groupby

ordinal_labels2= {j:i for i,j in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [19]:
# For enumerate understanding ------

x = ('apple', 'banana', 'cherry')
y = enumerate(x,0)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [23]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [13]:
df['Cabin_Encoded']= df.Cabin.map(ordinal_labels2)

In [14]:
df.head(10)

   Survived Cabin  Cabin_Encoded
0         0     M              1
1         1     C              4
2         1     M              1
3         1     C              4
4         0     M              1
5         0     M              1
6         0     E              7
7         0     M              1
8         1     M              1
9         1     M              1

In [29]:
# Now we can drop previous cabin column

df.drop(labels='Cabin', axis=1, inplace=True)

In [30]:
df.head()

   Survived  Cabin_Encoded
0         0              1
1         1              4
2         1              1
3         1              4
4         0              1

## Mean_encoding

Here we replace by mean only not by order

In [34]:
df=pd.read_csv('titanic.csv', usecols=['Cabin', 'Survived'])
df.Cabin= df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     n
1         1     C
2         1     n
3         1     C
4         0     n

In [38]:
mean_encoded= df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_encoded

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'T': 0.0,
 'n': 0.29985443959243085}

In [39]:
df['Cabin_Encoded']= df.Cabin.map(mean_encoded)

In [40]:
df.head()

   Survived Cabin  Cabin_Encoded
0         0     n       0.299854
1         1     C       0.593220
2         1     n       0.299854
3         1     C       0.593220
4         0     n       0.299854

In [ ]:
Advantages--


Disadvantages--
It leads to overfitting

## Probablity Ratio Encoding

divide the positive/negative

In [4]:


df=pd.read_csv('titanic.csv', usecols=['Cabin', 'Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [6]:
# Replacing

df.Cabin.fillna('Missing', inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [10]:
df['Cabin_New']= df.Cabin.astype(str).str[0]
df.head(10)

   Survived    Cabin Cabin_New
0         0  Missing         M
1         1      C85         C
2         1  Missing         M
3         1     C123         C
4         0  Missing         M
5         0  Missing         M
6         0      E46         E
7         0  Missing         M
8         1  Missing         M
9         1  Missing         M

In [11]:
df.drop(labels='Cabin', axis=1)

     Survived Cabin_New
0           0         M
1           1         C
2           1         M
3           1         C
4           0         M
..        ...       ...
886         0         M
887         1         B
888         0         M
889         1         C
890         0         M

[891 rows x 2 columns]

In [14]:
# It's bases on servived column

#This is our probablity

prob_df= df.groupby(['Cabin_New'])['Survived'].mean()
prob_df

Cabin_New
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [16]:
prob_df= pd.DataFrame(prob_df)
prob_df

           Survived
Cabin_New
A          0.466667
B          0.744681
C          0.593220
D          0.757576
E          0.750000
F          0.615385
G          0.500000
M          0.299854
T          0.000000

In [17]:
# Probablity that the person has died

# Sum of servived and dead will alway be 1

prob_df['Died']= 1-prob_df.Survived
prob_df.head()

           Survived      Died
Cabin_New
A          0.466667  0.533333
B          0.744681  0.255319
C          0.593220  0.406780
D          0.757576  0.242424
E          0.750000  0.250000

In [18]:
# Probablity ratio encoding

prob_df['Prob_Ratio_Encoding']= prob_df['Survived']/prob_df.Died

In [19]:
prob_df.head()

           Survived      Died  Prob_Ratio_Encoding
Cabin_New
A          0.466667  0.533333             0.875000
B          0.744681  0.255319             2.916667
C          0.593220  0.406780             1.458333
D          0.757576  0.242424             3.125000
E          0.750000  0.250000             3.000000

In [22]:
prob_encoded= prob_df.Prob_Ratio_Encoding.to_dict()

In [23]:
df['Cabin_Encoded']= df.Cabin_New.map(prob_encoded)

In [24]:
df.head()

   Survived    Cabin Cabin_New  Cabin_Encoded
0         0  Missing         M       0.428274
1         1      C85         C       1.458333
2         1  Missing         M       0.428274
3         1     C123         C       1.458333
4         0  Missing         M       0.428274