# How to handle features with Multiple categories





# Count or frequency encoding

Where you have higher no of categories


Each category of column replace by the count that they have in this column

Advantages:  Easy, no need to increase the feature

Disadvantages : 1) What if two category have same count then data will be confused

                2)

In [1]:
#Let's Apply this techniques

import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv("Data.csv", usecols=['X1','X2'])

df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [3]:
df.shape

(4209, 2)

In [4]:
#If we perform one hot encoding then what will happens?
#let's see

pd.get_dummies(df).shape

#It's giving 71 columns so thi technique will not be set for this data
#so let's apply count or frequency encoding

(4209, 71)

In [5]:

len(df['X1'].unique()), len(df['X2'].unique())

(27, 44)

In [6]:
l=list(df.columns)
l

['X1', 'X2']

In [7]:
for i in l:
    print(i, ' : ',len(df[i].unique()),'Labels' )

X1  :  27 Labels
X2  :  44 Labels

In [13]:
# Now our aim is to find how many time a category is repeated

df_frequency_map= df['X2'].value_counts().to_dict()
#df_frequency_map

In [22]:
df['X2']= df['X2'].map(df_frequency_map)

df['X2']=

In [24]:
df.head(20)

    X1    X2
0    v     6
1    t     4
2    w   137
3    t   137
4    v   137
5    b    81
6    r    81
7    l  1659
8    s  1659
9    b    63
10   r   153
11   r    81
12   b   415
13   r    81
14   s  1659
15   l   265
16   r    81
17  aa  1659
18   c   367
19   a   265

# Next Video

Now how to handle ordinal categories(Ordina- Encoding)

Exp- Student grade in a exam--- (A-B-C-D-Fail)

Good for small data

In [27]:
import numpy as np
import pandas as pd
import datetime

In [28]:
# Create a variable with dates, and from that extracts the weekday
#I create a list of dateswith 20 days differnce from today
#And then transform it into a DataFrame

df_base= datetime.datetime.today()
df_base

datetime.datetime(2021, 12, 7, 0, 39, 31, 412922)

In [35]:
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,20)]
df=pd.DataFrame(df_date_list)

df.columns=['Day']
df

                          Day
0  2021-12-07 00:39:31.412922
1  2021-12-06 00:39:31.412922
2  2021-12-05 00:39:31.412922
3  2021-12-04 00:39:31.412922
4  2021-12-03 00:39:31.412922
5  2021-12-02 00:39:31.412922
6  2021-12-01 00:39:31.412922
7  2021-11-30 00:39:31.412922
8  2021-11-29 00:39:31.412922
9  2021-11-28 00:39:31.412922
10 2021-11-27 00:39:31.412922
11 2021-11-26 00:39:31.412922
12 2021-11-25 00:39:31.412922
13 2021-11-24 00:39:31.412922
14 2021-11-23 00:39:31.412922
15 2021-11-22 00:39:31.412922
16 2021-11-21 00:39:31.412922
17 2021-11-20 00:39:31.412922
18 2021-11-19 00:39:31.412922
19 2021-11-18 00:39:31.412922

In [37]:
# Extrat the week day name
df['Day_of_week']= df['Day'].dt.day_name()

In [38]:
df.head()

                         Day Day_of_week
0 2021-12-07 00:39:31.412922     Tuesday
1 2021-12-06 00:39:31.412922      Monday
2 2021-12-05 00:39:31.412922      Sunday
3 2021-12-04 00:39:31.412922    Saturday
4 2021-12-03 00:39:31.412922      Friday

In [40]:
# So we assign the label as per day
#Monday-1, tue-2.............Sunday-7

weekday_map= {'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}

df['day_ordinal']=df.Day_of_week.map(weekday_map)

In [41]:
df.head()

                         Day Day_of_week  day_ordinal
0 2021-12-07 00:39:31.412922     Tuesday            2
1 2021-12-06 00:39:31.412922      Monday            1
2 2021-12-05 00:39:31.412922      Sunday            7
3 2021-12-04 00:39:31.412922    Saturday            6
4 2021-12-03 00:39:31.412922      Friday            5